/* General Styles */
*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
}

/* Navigation */
.navbar {
    padding: 10px 20px;
    top: 0;
    transition: all 0.5s;
}

.img-logo{
    width: 40px;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin-right: 20px;
    border: 1px solid transparent; 
    border-radius: 10px;
    padding: 5px 10px; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.navbar ul li a {
    color: #000;
    text-decoration: none;
    display: block; 
}

.navbar ul li:hover {
    background-color: #000; 
    border-color: #8e8e8e;  
}

.navbar ul li a:hover {
    color: #fff;
    cursor: pointer;
}

/* end nav */


/* Hero Section */
.hero {
    height: 100vh;
    background: url('./imgs/cover-hero.jpeg') center/cover no-repeat;
    color: rgb(255, 255, 255);
}

.hero h1 {
    font-size: 3rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
}

.btn-success {
    background-color: #28a745;
    border: none;
}

/* about */
.container h2{
    font-size: 40px;
    font-weight: bold;
}

/* end about */


/* speakers */
.card{
    margin-top: 2rem;
    transition: all 0.5s;
    overflow: hidden;
    height: 500px;
}
.card img{
    height: 300px;
    transition: all 0.5s;
    margin-bottom: 30px;
}
.card img:hover{
    scale: 1.1;
}
/* end speakers */


/* Section Spacing */
section {
    padding: 60px 0;
}


/* start footer */

footer {
    background-color: gray;
    color: white;
    padding: 3.75rem 0;
    background-image: url('./imgs/footer-back.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-container {
    max-width: 75rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.875rem;
}

.footer-section {
    text-align: left;
}

.footer-section h3 {
    font-size: 1.125rem;
    margin-bottom: 1.25rem;
    color: black;
}

.footer-section p {
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
    color: #fff;
}

.footer-section .social-icons a {
    color: #fff;
    font-size: 0.875rem;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.footer-section ul li {
    font-size: 0.875rem;
    line-height: 1.8;
    margin-bottom: 0.625rem;
    margin-left: 0.225rem;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section form {
    display: flex;
    align-items: center;
}

.footer-section form input[type="email"] {
    flex-grow: 1;
    padding: 0.625rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 0.25rem 0 0 0.25rem;
    margin-left: 0.1rem;
}

.footer-section form button[type="submit"] {
    background-color: white;
    color: black;
    padding: 0.625rem 1.25rem;
    font-size: 0.875rem;
    border: none;
    border-radius: 0 0.25rem 0.25rem 0;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid black;
    opacity: 0.5;
    padding-top: 1.25rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.875rem;
    gap: 15.625rem;
}

.footer-bottom p {
    color: #fff;
}

.footer-bottom .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 1.25rem;
}

/* end footer */

